html, body {
    margin: 0;
    font-size: 100%;
    background-color: #0BA5BE;

}

.bgrnd-img {
    background-image: url(../img/bgrnd2.png);
    background-size:cover;
    height:auto;
}

.container-blog-subscribe {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1px;
    text-align: center;
} 

.navbar {
    background-color: rgba(22, 67, 227, 0.6);
    border-bottom-left-radius: 3rem 3rem;
    border-bottom-right-radius: 3rem 3rem;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    position: fixed;
    justify-content: space-between;
    
}

.img-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text {
    text-align: center;
}

.img-phone {
    width: 100%;
    max-width: 400px;
    height: auto;
    cursor: pointer;
    transition: 1s;
}

.img-phone:hover {
  transform: scale(1.2);
}





.btn-outline-primary {
    color: white;
}

.blog-content {
  width: 500px;
}

.blog-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    border: 1px solid transparent;
    border-radius: 12%;
    cursor: pointer;
    transition: transform 500ms;
    z-index: 1;
}

.blog-img:hover {
  background-color: #c6c6c6;
  transform: scale(1.05);
}


.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: rgb(161, 162, 247);
    padding: 10px 0;
    position: relative;
  }
  
  .marquee__inner {
    display: inline-block;
    animation: scroll 20s linear infinite;
  }
  
  .marquee__inner span {
    display: inline-block;
    padding-right: 50px;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    white-space: nowrap;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }

.product {
    width: 500px;
}

.img-phone-discount {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 3/2;
  cursor: pointer;
  object-fit: contain;
  transition: transform 500ms;
}

.img-phone-discount:hover {
  background-color: transparent;
  transform: scale(1.05);
}

.social-icon {
    background: url(../img/social-icons.webp);
    width: 3.1rem;
    height: 3.1rem;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.social-icon-twitter {
    background-position: -0.32rem -7.5rem;
    transition: transform 500ms;
}

.social-icon-twitter:hover {
  background-position: -0.32rem -3.9rem;
  transform: scale(1.05);
}

.social-icon-facebook {
  background-position: -3.82rem -7.5rem;
  transition: transform 500ms;
}

.social-icon-facebook:hover {
  background-position: -3.82rem -3.9rem;
  transform: scale(1.05);
}

.social-icon-instagramm {
  background-position: -7.4rem -7.5rem;
  transition: transform 500ms;
}

.social-icon-instagramm:hover {
  background-position: -7.4rem -3.9rem;
  transform: scale(1.05);
}



.container-contact {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  background-color: #C6D7FF;
  border: 1px solid transparent;
  border-radius: 1px;
  text-align: center;
  padding-bottom: 50px;
}

.input-for-contact {
  border: 1px solid transparent;
  padding: 0.8rem 1.2rem;
}
  


@media (max-width: 975px) {
    .btn-hide {
        display: none;
      }
    
    .nav-title-block {
        justify-content: center;
    }
}